<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">BookShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul th:if="${#authorization.expression('isAuthenticated()')}" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/books/list}">Перейти к книгам</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/bookstores}">Перейти к магазинам</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}"><span th:text="${#authentication.name}"></span></a>
                </li>
                <li class="nav-item">
                    <form class="nav-link active" th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-primary">Выйти</button>
                    </form>
                </li>

            </ul>
            <ul th:unless="${#authorization.expression('isAuthenticated()')}" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Зарегистрироваться к магазинам</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <hr/>

    <h3>Добавить новую книгу</h3>
    <hr/>

    <form th:action="@{/books/saveBook}" th:object="${book}" method="POST">

        <input type="text" th:field="*{title}" class="form-control col-4 mb-4" placeholder="Введите название"/>

        <input type="text" th:field="*{author}" class="form-control col-4 mb-4" placeholder="Введите автора"/>

        <input type="text" th:field="*{price}" class="form-control col-4 mb-4" placeholder="Укажите цену"/>

        <input type="text" class="form-control col-4 mb-4" placeholder="Выберите магазин"/>

        <button type="submit" class="btn btn-primary col-2">Сохранить</button>

        <input type="hidden" th:field="*{id}"/>

    </form>
    <hr/>
    <a th:href="@{/books/list}">Обратно к списку</a>
</div>

</body>
</html>